// Targets the context menu ID
#better-macros-directory-context-menu {
  --tjs-default-text-shadow-focus-hover: 0 0 8px pink;
}

#better-macros-directory {
  min-width: 300px;
  min-height: 200px;
  max-height: 750px;

  --tjs-default-transition-focus-visible: box-shadow 0.1s ease-in-out, outline 0.1s ease-in-out;
  --tjs-default-outline-focus-visible: 4px dotted orange;

  .window-content {
    padding: 0;
    overflow: inherit;
    background: none;
  }

  .window-header {
    // Header menu icon
    button.icon {
      // TJSAppShell / static dark mode.
      &.fas.fa-moon.on:before {
        color: lightblue;
      }
    }
  }

  .directory-list {
    // TJSIconFolder background / color default for open & closed folders.
    --bmd-folder-background: rgba(0, 0, 0, 0.5);

    // border type & color for TJSIconFolder outline.
    --tjs-folder-summary-border: solid rgba(0, 0, 0, 0.3);
    --tjs-folder-summary-text-shadow: 0 0 3px var(--color-dark-1);

    --tjs-folder-contents-padding: 0 0 0 0.3em;
    --tjs-folder-contents-margin: 0;

    // Font color for macro directory list.
    color: var(--color-text-light-highlight);
  }

  // Light / normal theme
  &.window-app {
    .style-rule {
      background: linear-gradient(180deg, var(--color-border-light-1) 0%, var(--color-border-light-2) 100%);;
      border-top: solid 1px var(--color-border-dark-primary);
      border-bottom: solid 1px var(--color-border-dark-primary);
      padding: 0 0 2px 5px;
    }
  }

  // For Firefox scrollbars
  .tjs-scroll-container {
    scrollbar-color: #782e22 #111;
  }

  // Dark theme
  &.tjs-window-app {
    --tjs-action-ripple-background: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 40%, rgba(89, 97, 223, 1) 60% );
    --tjs-default-text-shadow-focus-hover: 0 0 8px pink;

    --tjs-icon-button-background-hover: rgba(255, 255, 255, 0.05);
    --tjs-icon-button-background-selected: rgba(255, 255, 255, 0.1);

    --tjs-input-background: #333333dd;
    --tjs-input-border: solid 1px #666;
    --tjs-input-placeholder-color: #666;

    ::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important;
    }
    ::-webkit-scrollbar-track {
      box-shadow: 0 0 1px #999 inset !important;
      border-radius: 4px !important;
    }
    ::-webkit-scrollbar-thumb {
      outline: none !important;
      border-radius: 3px !important;
      background: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 14.7%, rgba(89, 97, 223, 1) 88.7% ) !important;
      border: 1px solid rgba(95, 100, 230, 1) !important;
    }

    // For Firefox scrollbars
    .tjs-scroll-container {
      scrollbar-color: rgba(89, 97, 223, 1) #111 !important;
    }

    .style-rule {
      background: linear-gradient(180deg, #4b4a44 0%, #191813 100%) !important;
      border-top: solid 1px #666 !important;
      border-bottom: solid 1px #444 !important;
      padding: 0 0 2px 5px !important;
    }

    .window-content {
      color: #b5b3a4 !important;
      background: linear-gradient(135deg, rgba(52, 51, 52, 0.9) 10%, rgba(15, 14, 28, 0.9) 90%) !important;
    }

    .window-header {
      h4 {
        font-family: "Signika", sans-serif !important;
      }
    }
  }
}
