.better-macros-directory, .macros-sidebar {
  --tjs-default-transition-focus-visible: box-shadow 0.1s ease-in-out, outline 0.1s ease-in-out;
  --tjs-default-outline-focus-visible: 4px dotted orange;

  .directory-list {
    // TJSIconFolder background / color default for open & closed folders.
    --bmd-folder-background: rgba(0, 0, 0, 0.5);

    // border type & color for TJSIconFolder outline.
    --tjs-folder-summary-border: solid rgba(0, 0, 0, 0.3);
    --tjs-folder-summary-color: white;
    --tjs-folder-summary-text-shadow: 0 0 3px var(--color-dark-1);

    --tjs-folder-contents-padding: 0 0 0 0.3em;
    --tjs-folder-contents-margin: 0;

    color: var(--color-text-light-highlight);

    .tjs-icon-folder .contents {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    // When the window content width is less than 250px change the item link to cut off the description text.
    @container tjs-app-window-content (0 <= width < 250px) {
      .directory-item span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#better-macros-directory {
  .window-content {
    padding: 0;
    overflow: inherit;
    background: none;
  }

  .window-header {
    // Header menu icon
    button.icon {
      // TJSAppShell / static dark mode.
      &.fas.fa-moon.on:before {
        color: lightblue;
      }
    }
  }

  // Transparent theme
  &.tjs-window-app {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;

    transition: opacity 0.2s ease-in-out;

    &:hover, &:focus-within {
      opacity: 1;
    }

    // Ensure consistent header on all game systems.
    .window-header {
      h4 {
        font-family: "Signika", sans-serif !important;
      }
    }
  }
}
