// Targets the context menu ID
#better-macros-directory-context-menu {
  --tjs-default-text-shadow-focus-hover: 0 0 8px pink;
}

.better-macros-directory, .macros-sidebar {
  --tjs-default-transition-focus-visible: box-shadow 0.1s ease-in-out, outline 0.1s ease-in-out;
  --tjs-default-outline-focus-visible: 4px dotted orange;

  .directory-list {
    // TJSIconFolder background / color default for open & closed folders.
    --bmd-folder-background: rgba(0, 0, 0, 0.5);

    // border type & color for TJSIconFolder outline.
    --tjs-folder-summary-border: solid rgba(0, 0, 0, 0.3);
    --tjs-folder-summary-color: white;
    --tjs-folder-summary-text-shadow: 0 0 3px var(--color-dark-1);

    --tjs-folder-contents-padding: 0 0 0 0.3em;
    --tjs-folder-contents-margin: 0;

    color: var(--color-text-light-highlight);

    .tjs-icon-folder .contents {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    // When the window content width is less than 250px change the item link to cut off the description text.
    @container tjs-app-window-content (0 <= width < 250px) {
      .directory-item span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

#better-macros-directory {
  .window-content {
    padding: 0;
    overflow: inherit;
    background: none;
  }

  .window-header {
    // Header menu icon
    button.icon {
      // TJSAppShell / static dark mode.
      &.fas.fa-moon.on:before {
        color: lightblue;
      }
    }
  }

  // Light / normal theme
  &.window-app {
    .style-rule {
      background: linear-gradient(180deg, var(--color-border-light-1) 0%, var(--color-border-light-2) 100%);;
      border-top: solid 1px var(--color-border-dark-primary);
      border-bottom: solid 1px var(--color-border-dark-primary);
      padding: 0 0 2px 5px;
    }
  }

  // Dark theme
  &.tjs-window-app {
    //--tjs-action-ripple-background: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 40%, rgba(89, 97, 223, 1) 60% );
    --tjs-default-text-shadow-focus-hover: 0 0 8px pink;

    // TODO: These should be defaults in TRL dynamic styles.
    //--tjs-icon-button-background-hover: rgba(255, 255, 255, 0.05);
    //--tjs-icon-button-background-selected: rgba(255, 255, 255, 0.1);

    // For scrollbars
    .tjs-scroll-container {
      scrollbar-color: rgba(89, 97, 223, 1) #111 !important;
    }

    .window-content {
      color: #b5b3a4 !important;
      background: linear-gradient(135deg, rgba(52, 51, 52, 0.9) 10%, rgba(15, 14, 28, 0.9) 90%) !important;
    }

    .window-header {
      h4 {
        font-family: "Signika", sans-serif !important;
      }
    }
  }
}
